@font-face {
    font-family: headerFont;
    src: url('./fonts/kollektif-cufonfonts/Kollektif.ttf');
}

@font-face {
    font-family: bodyFont;
    src: url('./fonts/clarendon_blk_bt/Clrndnk.ttf');
}

body {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
  }
  a{
      text-decoration: none;
  }
.header-section {
    padding: 0px 5px 0px 5px;
    background: #ECECEC;
    font-family: headerFont;
    box-shadow: 2px -8px 13px 3px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item1 {
    color: #432e79;
    width: 110px;
    font-size: 20px;

}

.header-item2 img {
    height: 75px;
    width: 100%;
}

.header-item3 img {
    height: 24px;
    width: 100%;
    width: 110px;
}

.sby {
    color: #432e79;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.textArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topDiscription {
    color: #432e79;
    font-family: bodyFont;
    padding: 10px;
    font-size: .9rem;
    text-align: center;
    letter-spacing: 0.3px;
}

.whatsHereSection {
    background: #ECECEC;
    margin: 5px;
    position: relative;
    padding-bottom: 10px;
    border-radius: 5px;
    height: auto;
    border-radius: 10px;
}

.head {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 53px;
}

.head-text {
    font-family: bodyFont;
    color: #432e79;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkLine {
    height: 12px;
    background: #d1d1d1;
    box-shadow: 0px 0px -2px 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.head-icon {
    text-align: center;
    float: left;
    width: 132px;
}

.head-icon img {
    height: 58px;
    width: 100%;
}

.whats-here-yellow-bg {
    display: flex;
    background: #F3D250;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 7px 7px 7px;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 6px;
    box-shadow: 0px 6px 0px 0px #f3d250;
}

.whats-here-yellow-bg-list {
    background: #ECECEC;
    margin: 5px;
    padding: 5px;
    width: 90px;
    box-shadow: 0px 4px 5px 0px #999797;
    border-radius: 2px;
    height: 80px;
}

.whybiIcon img {
    height: 50px;
}

.whybiText {
    color: #432e79;
    font-family: bodyFont;
    font-size: 10px;
}

.studentTeamCodeSection {
    background: #ECECEC;
    margin: 5px;
    position: relative;
    padding-bottom: 10px;
    border-radius: 10px;
    height: auto;
}

.studenHead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studenHead .text {
    font-family: bodyFont;
    color: #432e79;
    font-size: 1.5rem;
    text-align: center;
    width: 55%;
}

.studenHead .img {
    width: 20%;
}
.studenHead .img img {
    height: 78px;
}
.studentTeamCodePink {
    background: #F78888;
    margin: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.studentTeamCodePink .discription{
    color: #432e79;
    font-family: headerFont;
    padding: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 14px;
}

.studentTeamCodePink table {
    width: 100%;
    background: #ECECEC;
    margin: 10px;
    min-width: 320px;
}

.studentTeamCodePink table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

.scroll-me {
    height: 300px;
    overflow: auto;
    display: flex;
    width: 100%;
}

.studentTeamCodePink table th,
td {
    color: #432e79;
    font-family: headerFont;
    font-size: 14px;
    padding: 5px;
    border: none;
    text-align: center;
    width: 50px;
    white-space: nowrap;
}

table tr:nth-child(even) {
    background: #f2e096;
}

.requestTextArea {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 11px;
    position: relative;
    width: 100%;
    padding: 8px;

}

.requestTextArea .text {
    font-family: bodyFont;
    color: #432e79;
    font-size: 1.2rem;
    margin-top: 3px;
}

.requestTextArea input[type=number] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: navajowhite;
    height: 30px;
    width: 80px;
    padding-right: 18%;
    padding-left: 5px;
    font-size: 17px;
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.requestTextArea button {
    background: #F3D250;
    font-family: bodyFont;
    color: #432e79;
    border: none;
    position: absolute;
    height: 39px;
    right: 6px;
    border-radius: 5px;
    top: 5px;
    width: 75px;
    font-size: 16px;
}

.footerSection {
    padding: 0px 5px 0px 5px;
    background: #ECECEC;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    height: 150px;
}

.footerSection .partners {
    background: #ECECEC;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -33px;
}

.footerSection .partners .items {
    background: #ECECEC;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px -1px grey;
}

.footerSection .partners .items img {
    width: 304px;
}

.footerSection .contactDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-top: 40px;
}

.footerSection .contactDetails .contact {
    width: 30%;
    text-align: center;
}

.footerSection .contactDetails .contact .text {
    color: #432e79;
    font-family: headerFont;
    font-size: 18px;
    margin-bottom: 5px;
}

.footerSection .contactDetails .contact .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSection .contactDetails .emailAndFrend {
    width: 70%;
    display: flex;
    background: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 4px 5px -1px #bababa inset;
    border-radius: 6px;
}
.footerSection .contactDetails .emailAndFrend .email {
  text-align: center;
  width:50%;
  border-right: 1.5px solid #432e79;
  padding: 2px;
}

.footerSection .contactDetails .emailAndFrend .friend  {
    text-align: center;
    width:50%;
    border-left: 1.5px solid #432e79;
    padding: 2px;
}
.footerSection .contactDetails .emailAndFrend .email .mailId {
    font-size: 11px;
    color: #432e79;
    font-family: headerFont;
    word-break: break-all;
    margin-top: 5px;
}

.footerSection .contactDetails .emailAndFrend .friend .dis {
    font-size: 11px;
    font-family: headerFont;
    color: #432e79;
}

.footerSection .contactDetails .emailAndFrend .email  img {
    height: 50px;
    margin-top: 3.5px;
}
.footerSection .contactDetails .emailAndFrend .friend  img {
    height: 59px;
}

/* width */
.scroll-me ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-me ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll-me ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scroll-me ::-webkit-scrollbar-thumb:hover {
  background: #555;
}